repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-json
    - id: check-shebang-scripts-are-executable
    - id: check-added-large-files
    - id: detect-aws-credentials
      args:
        - --allow-missing-credentials
    - id: detect-private-key
      exclude: ^tests/
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.9
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.104.0
  hooks:
    - id: terraform_fmt
    - id: terraform_docs
      args:
        - --hook-config=--path-to-file=README.md
        - --hook-config=--create-file-if-not-exist=true
    - id: terraform_tflint
    - id: terraform_trivy
      args:
        - --args=--severity HIGH,CRITICAL
